@import "http://fonts.googleapis.com/css?family=Open+Sans:300,700";
.sb-btn {
  /*
  place an 'a' tag inside the button div to prevent highlighting on rapid
  or double-clicks.
  */
  width: auto;
  height: 20px;
  padding: 5px 8px 5px 8px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: #fad701;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #faa71c), color-stop(1, #fad701));
  background: -ms-linear-gradient(bottom, #faa71c, #fad701);
  background: -moz-linear-gradient(center bottom, #faa71c 0%, #fad701 100%);
  background: -o-linear-gradient(#fad701, #faa71c);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fad701', endColorstr='#faa71c', GradientType=0);
  font-size: 18px;
  font-weight: 700;
  text-shadow: 1px 1px 1px #FFC;
  filter: dropshadow(color=#ffffcc, offx=1, offy=1);
  color: #242424;
  cursor: pointer;
  text-transform: uppercase;
}
.sb-btn:hover {
  background: #f2cb05;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #d9a03f), color-stop(1, #f2cb05));
  background: -ms-linear-gradient(bottom, #d9a03f, #f2cb05);
  background: -moz-linear-gradient(center bottom, #d9a03f 0%, #f2cb05 100%);
  background: -o-linear-gradient(#f2cb05, #d9a03f);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2cb05', endColorstr='#d9a03f', GradientType=0);
  color: #000000;
}
.sb-btn:active {
  background: #bfa302;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #bf8c39), color-stop(1, #bfa302));
  background: -ms-linear-gradient(bottom, #bf8c39, #bfa302);
  background: -moz-linear-gradient(center bottom, #bf8c39 0%, #bfa302 100%);
  background: -o-linear-gradient(#bfa302, #bf8c39);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bfa302', endColorstr='#bf8c39', GradientType=0);
  color: #000000;
}
.sb-btn.disabled {
  background: #ABABAB;
  opacity: .5;
  cursor: default !important;
  color: #666666;
}
.sb-btn a {
  text-decoration: none;
  color: #242424;
}
.sportsbet-gradient {
  background: #1983c0;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #2da8dc), color-stop(1, #035ca3));
  background: -ms-linear-gradient(bottom, #2da8dc, #035ca3);
  background: -moz-linear-gradient(center bottom, #2da8dc 0%, #035ca3 100%);
  background: -o-linear-gradient(#035ca3, #2da8dc);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#035ca3', endColorstr='#2da8dc', GradientType=0);
}
/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
html {
  font-size: 62.5%;
}
html,
body {
  height: 100%;
  margin: 0;
  overflow: hidden;
  background: #00549E;
  font-family: 'Open Sans', Helvetia, sans-serif;
  font-weight: 300;
}
.animate {
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.hidden {
  visibility: hidden;
}
.yellow {
  color: #FAD701;
}
.black {
  color: #000000;
}
#content {
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-user-select: none;
  -webkit-user-drag: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
#page-container {
  position: absolute;
  width: 0px;
  height: 100%;
  left: 0px;
  top: 0px;
  -webkit-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1);
  -moz-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1);
  -o-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1);
  -ms-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1);
  transform: translate3d(0%, 0, 0) scale3d(1, 1, 1);
}
.page {
  position: relative;
  display: inline-block;
  width: 0px;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  transform: translate3d(0%, 0, 0);
  -o-transform: translate3d(0%, 0, 0);
  -ms-transform: translate3d(0%, 0, 0);
  -moz-transform: translate3d(0%, 0, 0);
  -webkit-transform: translate3d(0%, 0px, 0px);
}
.page .page-tab {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 20px;
  right: 0px;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  background: transparent url(../img/page-tab.png) no-repeat;
  background-position: 100% 0px;
}
#content-container {
  position: absolute;
  width: 0px;
  height: 100%;
  left: 0px;
  top: 0px;
  -webkit-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1);
  -moz-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1);
  -o-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1);
  -ms-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1);
  transform: translate3d(0%, 0, 0) scale3d(1, 1, 1);
}
#content-container .text-content {
  position: absolute;
  width: 100%;
  top: 50%;
  margin-top: -50px;
  text-align: center;
  -webkit-transform-style: preserve-3d;
  -webkit-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1);
  -moz-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1);
  -o-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1);
  -ms-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1);
  transform: translate3d(0%, 0, 0) scale3d(1, 1, 1);
}
#content-container .text-content .left {
  display: inline-block;
  text-align: left;
}
#content-container .text-content p {
  margin: 0;
  color: white;
  cursor: default;
  font-size: 21px;
  font-size: 2.1rem;
}
#content-container .text-content p sup {
  position: relative;
  font-size: 8px;
  font-size: 0.8rem;
}
#content-container .text-content p.title {
  font-size: 49px;
  font-size: 4.9rem;
  font-weight: 700;
}
#content-container .text-content p.offer {
  font-size: 110px;
  font-size: 11.0rem;
  font-weight: 700;
}
#content-container .text-content p.offer sup {
  position: relative;
  bottom: 20px;
  font-size: 30px;
  font-size: 3.0rem;
}
#page1 {
  background-color: #00549E;
}
#page1-content .subtitle {
  text-indent: 52px;
}
#page2 {
  background-color: #2270B4;
}
#page2-content .subtitle {
  position: absolute;
  top: -50px;
}
#page3 {
  background-color: #2EAADD;
}
#page3-content .title {
  position: relative;
  top: 70px;
}
#page3-content .subtitle {
  position: absolute;
  top: -50px;
}
#page4 {
  background-color: #F2B91C;
}
#page4-content .title {
  position: relative;
  bottom: 90px;
}
#page4-content .subtitle {
  position: relative;
  bottom: 90px;
}
#page4-content .offer {
  position: relative;
  bottom: 110px;
}
.conditions {
  position: absolute;
  top: 0px;
  left: 0px;
  font-size: 10px;
  font-weight: 300;
  color: white;
  opacity: 0;
}
#footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  padding: 8px 8px 6px 8px;
  border-top: 1px solid #117DCF;
  z-index: 9;
}
#logo {
  position: relative;
  top: 4px;
  left: 10px;
}
#bet-now {
  float: right;
  height: auto;
  padding: 6px 8px;
  margin-right: 20px;
  border: none;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  font-weight: 800;
  font-size: 16px;
  text-shadow: none;
}
#bet-now:after {
  content: '';
  clear: both;
}
#ball {
  position: absolute;
  bottom: 48px;
}
#soccerman {
  display: inline-block;
  position: absolute;
  width: 80px;
  height: 80px;
  bottom: 43px;
  overflow: hidden;
  background: url(../img/soccerman.png) no-repeat;
}
#soccerman.idle {
  background-position: 0px 0px;
}
#soccerman.kick {
  background-position: -80px 0px;
}
#soccerman.run1 {
  background-position: -160px 0px;
}
#soccerman.run2 {
  background-position: 0px -80px;
}
#soccerman.run3 {
  background-position: -80px -80px;
}
#soccerman.run4 {
  background-position: -160px -80px;
}
#soccerman.run5 {
  background-position: 0px -160px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  #soccerman {
    background-image: url(../img/soccerman@2x.png);
    background-size: 256px 256px;
  }
}
