@import "library";
@import "elements";
@import "http://fonts.googleapis.com/css?family=Open+Sans:300,700";
@import "http://fonts.googleapis.com/css?family=Roboto+Condensed:400";

@col1: #1B516D;
@col2: #0080A4;
@col3: #5AC4D1;
@col4: #0067AB;

html {
  font-size : 62.5%;
}

html, body {
  height      : 100%;
  margin      : 0;
  overflow    : hidden;

  font-family : 'Open Sans', Helvetia, sans-serif;
  font-weight : 300;
  color       : #FFFFFF;
}

.animate-3 {
  .transition(.3s, ease-out);
}

.animate-5 {
  .transition(.5s, ease-out);
}

.invisible {
  visibility : hidden !important;
}

.hidden {
  display : none !important;
}

.subtitle {
  font-size   : 42px;
  font-size   : 4.2rem;
  font-weight : 700;
}

.title {
  font-size   : 160px;
  font-size   : 16.0rem;
  font-weight : 700;
}

.yellow {
  color : #FAD701;
}

.darkblue {
  color : #142841;
}

.roboto {
  font-family : 'Roboto Condensed', sans-serif;
}

.btn {
  width          : 185px;
  height         : 56px;

  background     : #F4BA1A;
  border         : none;

  font-family    : 'Roboto Condensed', sans serif;
  font-size      : 20px;
  letter-spacing : 1px;
  text-align     : center;
  text-transform : uppercase;
  line-height    : 52px;
  color          : #000000;

  cursor         : pointer;

  .transition-property(background,.5s,ease-out);

  &.active {
    background : rgba(255, 0, 0, .6);
  }
  &.disabled {
    background: #DDDDDD;
  }
}

ul {
  margin  : 0;
  padding : 0;

  li {
    display    : inline-block;
    position   : relative;
    list-style : none;

    &:last-child {
      margin : 0 !important;
    }
  }
}

.container {
  position   : relative;
  display    : block;
  width      : 1024px;
  margin     : 0 auto;

  text-align : left;
}

// -------------------------------------------------------------------------- //

#main-container {
  position  : relative;
  width     : 100%;
  height    : 100%;
  overflow  : hidden;

  min-width : 1024px;

  &.loading {
    background  : @col1;
  }
}

nav {
  position : fixed;
  right    : 17px;
  top      : 80px;

  z-index  : 999;

  li {
    display       : block;
    margin-bottom : 2px;
  }

  .btn {
    width : 90px;
  }
}

#loader {
  position   : absolute;
  width      : 50px;
  height     : 50px;

  left       : 50%;
  top        : 50%;

  background : #1B516D url(../img/loader.gif) no-repeat;
}

// --------------------------------- HEADER --------------------------------- //
#header {
  position      : relative;
  width         : 100%;
  height        : 78px;
  top           : 0;
  left          : 0;

  text-align    : center;
  border-bottom : 1px solid #001A2C;
  z-index       : 1;

  .sb-btn {
    position    : relative;
    height      : auto;
    left        : 41px;
    bottom      : 32px;

    text-shadow : none;
    font-size   : 17px;
    font-size   : 1.7rem;
    font-family : 'Open Sans', sans-serif;

    border      : none;
    background  : #F4BA1A;
    .rounded(0px);
  }
}

.browsehappy {
  position    : relative;
  top         : 70px;

  border      : 1px solid #666;
  padding     : 15px;

  font-size   : 16px;
  font-family : 'Open Sans';
  text-align  : center;
}

#score {
  position    : absolute;
  width       : 91px;
  height      : 78px;
  top         : 0;
  right       : 0;

  background  : #FA62C9;

  text-align  : center;
  font-family : 'Roboto Condensed', sans-serif;
  font-size   : 55px;
  font-size   : 5.5rem;
  line-height : 78px;
  color       : #FFFFFF;

  cursor      : default;
}

#timer {
  position    : absolute;
  width       : 91px;
  top         : 82px;
  right       : 0;

  text-align  : center;
  font-family : 'Roboto Condensed', sans-serif;
  font-size   : 25px;
  font-size   : 2.5rem;

  cursor      : default;

  &.active {
    color: #FF0000;
  }
}

// ----------------------------- MAIN CONTENT ------------------------------- //
#scroll-box {
  position                   : absolute;
  width                      : 100%;
  height                     : 100%;
  top                        : 78px;
  overflow-x                 : hidden;
  overflow-y                 : auto;
  -webkit-overflow-scrolling : none;

  .transform(translate3d(0%, 0, 0) scale3d(1, 1, 1));

  &.disabled {
    z-index : -1;
  }
}

#scroll {
  position : relative;
  height   : 4000px;
}

#page-container {
  position                : absolute;
  width                   : 100%;
  height                  : 100%;
  left                    : -15px;
  top                     : 0;

  background              : @col1;

  -webkit-transform-style : preserve-3d;
  .transform(translate3d(0%, 0, 0) scale3d(1, 1, 1));
}

.page {
  position                : absolute;
  width                   : 100%;
  top                     : 0;
  left                    : 0;

  -webkit-transform-style : preserve-3d;
  .transform(translate3d(0%, 0, 0) scale3d(1, 1, 1));

  > .group {
    top : 200px;
  }

  div {
    .transform(translate3d(0%, 0, 0) scale3d(1, 1, 1));
  }
}

.group {
  display    : block;
  position   : absolute;
  width      : 100%;
  text-align : center;

  .transform(translate3d(0%, 0, 0));

  &.text {
    text-align : center;
  }
}

#page1 {

  .text {
    cursor : default;

    .title {
      display     : inline-block;
      line-height : 100px;

      .underline {
        position   : relative;
        height     : 25px;
        width      : 100%;
        margin-top : 20px;
        background : #FAD701;
      }
    }
  }
  .options {
    margin-top : 280px;

    li {
      margin-right : 78px;
    }
  }
}

#page2 {

  .stumps {
    opacity : 0;
    top     : 600px;

    .stump {
      display         : inline-block;
      width           : 112px;
      height          : 500px;
      margin-right    : 248px;

      background      : url(../img/the_stump.svg) no-repeat;
      background-size : 112px 1020px;

      &:last-child {
        margin-right : 0;
      }
    }
  }

  .bails {
    top : -175px;

    .bail {
      position        : relative;
      display         : inline-block;
      width           : 370px;
      height          : 170px;

      background      : url(../img/the_wicket.svg) no-repeat;
      background-size : 370px 170px;

      opacity         : 0;
    }
  }

  .cricket-ball {
    position        : absolute;
    width           : 200px;
    height          : 200px;

    background      : url(../img/the_ball.svg);
    background-size : 200px 200px;

    .scale(.5);
  }

  .text {
    opacity : 0;
    .scale(.8);

    .subtitle {
    }
    .title {
      line-height : 95px;
      font-size   : 130px;
      font-size   : 13rem;
    }
  }

  .options {
    top : 190px;

    li {
      margin-right : 78px;
      opacity      : 0;

      &:first-child {
        right : 300px;
      }
      &:last-child {
        left : 300px;
      }
    }
  }
}

#page3 {

  > .group {
    top : 150px;
  }

  .text {
    .subtitle {
      font-size : 39px;
      font-size : 3.9rem;
    }
    .title {
      font-size   : 76px;
      font-size   : 7.6rem;
      line-height : 60px;
    }
  }
  .options {
    top : 190px;

    .question {
      -webkit-transform-style     : preserve-3d;
      backface-visibility         : hidden;
      -webkit-backface-visibility : hidden; /* Chrome and Safari */
      -moz-backface-visibility    : hidden; /* Firefox */
      -ms-backface-visibility     : hidden; /* Internet Explorer */

      .dudes {
        top        : -32px;
        left       : 200px;
        height     : 88px;
        background : url(../img/the_dude_small.svg) repeat-x;
      }
      > div {
        position : absolute;
      }
      &.q1 {
        .dudes {
          width : 606px;
        }
      }
      &.q2 {
        top : 104px;
        .dudes {
          width : 708px;
        }
      }
      &.q3 {
        top : 208px;
        .dudes {
          width : 808px;
        }
      }
    }
  }
}

#page4 {

  > .group {
    top : 100px;
  }

  .results {
    line-height : 130px;

    >div {
      cursor: default;
    }

    .subtitle {
      font-size : 75px;
      font-size : 7.5rem;
    }
    .time {
      font-size : 72px;
      font-size : 7.2rem;

      sub {
        position  : relative;
        bottom    : 16px;
        left      : 4px;

        font-size : 22px;
        font-size : 2.2rem;
      }
    }
  }

  .cta {
    position : relative;
    bottom   : 40px;

    .subtitle {
      cursor: default;
    }

    .btn {
      margin-top : 10px;
      display    : inline-block;
    }
  }
}

#debug {
  position : fixed;
  width    : 100%;
  top      : 78px;
  left     : 0;
  height   : 550px;
  width    : 100px;

  textarea {
    width  : 100%;
    height : 100%;
  }
}