/* ----------------------------------------------------
   created with http://www.codeandweb.com/texturepacker 
   ----------------------------------------------------
   $TexturePacker:SmartUpdate:7925ddbb2596762127aa7a0d9f73bb82:e147b9edf941907341475b11b85894d8:4d60099cf92ca2dcba77889bcba0c587$
   ----------------------------------------------------

   usage: <span class="{-spritename-} sprite"></span>

   replace {-spritename-} with the sprite you like to use

*/

.sprite {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(soccer.png);}

.Soccerman_idle {width:163px; height:163px; background-position: -0px -0px}
.Soccerman_kick {width:163px; height:163px; background-position: -163px -0px}
.Soccerman_run_01 {width:163px; height:163px; background-position: -326px -0px}
.Soccerman_run_02 {width:163px; height:163px; background-position: -0px -163px}
.Soccerman_run_03 {width:163px; height:163px; background-position: -163px -163px}
.Soccerman_run_04 {width:163px; height:163px; background-position: -326px -163px}
.Soccerman_run_05 {width:163px; height:163px; background-position: -0px -326px}
